@media screen and (max-width: 768px) {
    .sidebar {
        &-hidden {
            width: 0;
        }
    }
}

.sidebar {
    left: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    transition: all .2s ease;

    &-content {
        background-color: #075e44;
        box-sizing: border-box;
        display: inline-flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
    }

    &-logo {
        &-icon {
            margin-right: 10px;
            margin-top: 10px;
        }

        &-title {
            font-size: 1.3rem;
            font-family: "Capriola", sans-serif;
            margin-bottom: 40px;
        }

        &-icon, &-title {
            text-align: center;
            color: #ffffff;
        }
    }

    &-items, &-bottom {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        padding: 0;

        &-item {
            list-style: none;
            padding: 0 15px;

            &--default, &--active {
                cursor: pointer;
                display: flex;
                font-size: 1rem;
                border-radius: 10px;
                padding: 15px;

                &:hover {
                    background-color: #4e846d;
                    color: #ffffff;
                }

                i {
                    margin-right: 5px;
                }
            }

            &--default {
                color: #dfe3e8;
                font-weight: 500;
            }

            &--active {
                font-weight: 600;
                color: #ffc250;
            }
        }
    }

    &-items {
        flex: 1;
        margin: 0;
    }

    &-bottom {
        margin-bottom: 15px;
        position: relative;
        text-align: center;
    }

    &-default {
        width: 250px;
    }
}