.card {
  border-radius: 8px;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgb(34 42 69 / 20%);
  background-color: #fff;

  &-label {
    padding: 20px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.2px;
  }

  &-subtitle {
    font-weight: lighter;
    padding: 0 20px 20px;
    margin-bottom: 0;
  }

  &-inner {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  &-light {
    &-label {
      color: #075e44;;
    }

    &-inner {
      background-color: #fff;
    }
  }

  &-green {
    &-label {
      color: #dfe3e8;
    }

    &-inner {
      background-color: #075e44;
    }
  }
}

@media screen and (min-width: 1025px) {
  .card {
    width: 100%;

    &-right {
      margin-right: 0;
      margin-left: 15px;
    }

    &-left {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}