@media screen and (max-width: 768px) {
    .auth {
        &-container {
            padding: 20px;
        }
    }
}

@media screen and (min-width: 769px) {
    .auth {
        &-container {
            padding: 65px;
        }
    }
}

.auth {
  display: flex;
  min-height: 100vh;

  &-container {
    max-width: 500px;
    width: 100%;
    margin: auto;

    &-message {
      text-align: center;
      color: orange;
    }

    h1 {
      color: #075e44;
      font-size: 2rem;
      font-family: "Capriola", sans-serif;
      text-align: center;
      display: grid;
    }

    h2 {
      text-align: center;
      margin: 48px 0;
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}
