.dashboard {
    float: right;
    width: calc(100% - 250px);

    &-content {
        min-height: calc(100vh - 65px);
        max-height: 100vh;
        overflow: auto;
        padding: 0 65px;
        transition: all 0.2s ease;
        background-color: #e8eeec;
    }
}